@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

body{
    padding: 0;
    
    font-family: "Open Sans", sans-serif;
}

#m1{
    max-width: 1400px;
    margin: auto;
}
#d1{
    width: 300px;
    
    box-shadow: 0px -8px  rgb(226, 222, 222);
    border: 2px solid rgb(242, 235, 235);
    border-radius: 10px;
    display: inline-block;
    margin-left:40px;
    box-sizing: border-box;
    
}
#img1{
    width: 50%;
    height: 50px;
    margin: auto;
    display:block;
   object-fit: cover;
    
    
    
}

